1 ICON "../../resources/images/icon.ico"
1 VERSIONINFO
FILEVERSION     3,9,9,9
PRODUCTVERSION  3,9,9,9
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "040904E4"
    BEGIN
      VALUE "CompanyName", "angryip.org (modded)"
      VALUE "FileDescription", "Angry IP Scanner - Custom Mod"
      VALUE "InternalName", "imodscan"
      VALUE "LegalCopyright", "Anton Keks, GoogleX"
      VALUE "OriginalFilename", "imodscan.exe"
      VALUE "ProductName", "Angry IP Scanner - Custom Mod"
      VALUE "ProductVersion", "3+"
    END
  END
  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0x409, 1252
  END
END
